.hike {
  text-align: left;
  background-color: #d9d9d9;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.hike p,
.hike h4,
.hike h5 {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {

}